<h2>I . Importing Libraries</h2>

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

/home/sgubuntu/.local/lib/python3.10/site-packages/matplotlib/projections/__init__.py:63: UserWarning: Unable to import Axes3D. This may be due to multiple versions of Matplotlib being installed (e.g. as a system package and as a pip package). As a result, the 3D projection is not available.
  warnings.warn("Unable to import Axes3D. This may be due to multiple versions of "

<h2>II . Loading Dataset</h2>

In [12]:
os.path.join('Dataset','EngineeringRanking_2021.csv')

'Dataset/EngineeringRanking_2021.csv'

In [13]:
df = pd.read_csv(os.path.join('Dataset','EngineeringRanking_2021.csv'))

In [14]:
df

,Institute Id,Institute Name,City,State,TLR,RPC,GO,OI,Perception,Score,Rank
0,IR-E-U-0456,Indian Institute of Technology Madras,Chennai,Tamil Nadu,95.47,96.43,81.92,62.44,100.00,90.19,1
1,IR-E-I-1074,Indian Institute of Technology Delhi,New Delhi,Delhi,91.76,95.82,80.97,66.39,98.63,88.96,2
2,IR-E-U-0306,Indian Institute of Technology Bombay,Mumbai,Maharashtra,89.32,92.56,79.71,53.68,92.88,85.16,3
3,IR-E-I-1075,Indian Institute of Technology Kanpur,Kanpur,Uttar Pradesh,86.71,83.13,89.79,55.96,87.05,83.22,4
4,IR-E-U-0573,Indian Institute of Technology Kharagpur,Kharagpur,West Bengal,80.51,88.59,83.01,58.46,88.50,82.03,5
...,...,...,...,...,...,...,...,...,...,...,...
195,IR-E-C-1438,The National Institute of Engineering,Mysore,Karnataka,53.79,2.33,51.03,50.48,4.23,32.52,196
196,IR-E-C-33584,K. J. Somaiya College of Engineering,Mumbai,Maharashtra,52.22,3.33,58.94,38.08,2.17,32.48,197
197,IR-E-C-27400,Kakatiya Institute of Technology & Science,Warangal,Telangana,55.80,1.64,49.13,49.25,4.90,32.48,197
198,IR-E-C-11015,Walchand College of Engineering,Sangli,Maharashtra,48.25,4.54,56.11,47.93,6.19,32.46,199
199,IR-E-U-0037,Sri Venkateswara University,Tirupati,Andhra Pradesh,41.76,25.59,37.58,43.31,3.56,32.42,200

<h2>III . Visualising Dataset</h2>

<h2>IV . Filtering and Grouping</h2>

<h2>V . Data Preprocessing</h2>